<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.api.inspection.InspectionMapper">

    <select id="getInspectionList" resultType="inspection" parameterType="inspection">
        SELECT * FROM inspection
        <where>
            <if test="payYn != null and payYn != ''">AND pay_yn = #{payYn} </if>
        </where>
    </select>

    <resultMap id="inspectionDetailMap" type="inspection" autoMapping="true">
        <result column="question_cnt" property="questionCnt"/>
    </resultMap>
    <select id="getInspectionDetail" resultMap="inspectionDetailMap">
        SELECT
          *
        FROM
          inspection i
          LEFT OUTER JOIN
            (SELECT
              inspection_idx,
              COUNT(*) AS question_cnt
            FROM
              question
            GROUP BY inspection_idx) q
            ON i.inspection_idx = q.inspection_idx
        WHERE i.inspection_idx = #{inspectionIdx}
    </select>

</mapper>
