<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.api.inspection.InspectionMapper">

    <select id="getInspectionList" resultType="inspection" parameterType="inspection">
        SELECT * FROM inspection
        <where>
            AND octagnosis_yn = 'Y'
            <if test="payYn != null and payYn != ''">AND pay_yn = #{payYn} </if>
        </where>
    </select>

    <resultMap id="inspectionDetailMap" type="inspection" autoMapping="true">
        <result column="total_page" property="totalPage"/>
    </resultMap>
    <select id="getInspectionDetail" resultMap="inspectionDetailMap">
        SELECT
            *
        FROM
            inspection i
        LEFT OUTER JOIN
            (SELECT
                inspection_idx,
                MAX(question_page) AS total_page
            FROM
                question
            WHERE del_yn = 'N'
            GROUP BY inspection_idx) q
            ON i.inspection_idx = q.inspection_idx
        WHERE i.inspection_idx = #{inspectionIdx}
    </select>

</mapper>
