<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.api.member.MemberMapper">
    <update id="updateMember" parameterType="member">

        UPDATE `member`
        <set>
            <if test="member.name != null"> name = #{member.name},</if>
            <if test="member.email != null"> email = #{member.email},</if>
            <if test="member.phone != null"> phone = #{member.phone},</if>
            <if test="member.address != null"> address = #{member.address},</if>
            <if test="member.addressSub != null"> address_sub = #{member.addressSub},</if>
            <if test="member.school != null"> school = #{member.school},</if>
            <if test="member.education != null"> education = #{member.education},</if>
            <if test="member.grade != null"> grade = #{member.grade},</if>
            <if test="member.major != null"> major = #{member.major},</if>
            <if test="member.job != null"> job = #{member.job},</if>
            <if test="member.company != null"> company = #{member.company},</if>
            <if test="member.jobDetail != null"> job_detail = #{member.jobDetail},</if>
        u_date = NOW()
        </set>
        WHERE idx = #{idx};
    </update>
    <update id="changePassword" >

        UPDATE `member` SET password = #{password} WHERE idx = #{idx};
    </update>

    <select id="loadUserByUserName" parameterType="member" resultType="member">
        SELECT * FROM `member`
        WHERE id = #{id}
    </select>

    <select id="loadUserByUserEmail" parameterType="string" resultType="member">
        SELECT * FROM `member`
        WHERE email = #{email}
    </select>

    <select id="findIdByInfo" resultType="member" parameterType="map">
        SELECT id FROM `member` WHERE name = #{name} AND email = #{email}
    </select>

    <select id="findIdByPhone" resultType="member" parameterType="map">
        SELECT id FROM `member` WHERE id = #{id} AND email = #{email}
    </select>
    <select id="getMemberList" resultType="member" parameterType="string">
        SELECT * FROM `member`
        <where>
            AND role = "ROLE_MEMBER"
            <if test="searchText != null">AND (name like CONCAT('%', #{parameter}, '%') )</if>
        </where>
    </select>

    <select id="getMemberDetail" resultType="member">
        SELECT * FROM `member`
        WHERE idx = #{idx}
    </select>
    <select id="getMembersGroup" resultType="group">

        SELECT g.* FROM `group` g
        LEFT OUTER JOIN `member` m
            ON g.idx = m.group_idx
        WHERE
            m.idx = #{memberIdx};
    </select>



</mapper>
