<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.api.progress.ProgressMapper">

    <delete id="deleteMemberProgress">
        DELETE ma FROM member_answer ma
        LEFT OUTER JOIN question q
            ON ma.question_idx = q.question_idx
        WHERE ma.member_idx = #{memberIdx}
        AND q.inspection_idx = #{inspectionIdx}
    </delete>



    <select id="getMemberProgressList" parameterType="int" resultType="progress">
        SELECT
            i.inspection_idx,
            i.inspection_name,
            q.total_count,
            IF(ISNULL(m.cnt), 0, m.cnt) AS user_count,
            m.current_page
        FROM
            inspection i
        LEFT OUTER JOIN
            (SELECT
                inspection_idx,
                COUNT(*) AS total_count
            FROM
                question
            WHERE del_yn = 'N'
            GROUP BY inspection_idx) q
        ON i.inspection_idx = q.inspection_idx
        LEFT OUTER JOIN
            (SELECT
                q.inspection_idx,
                COUNT(*) AS cnt,
                MAX(q.question_page) AS current_page
            FROM
                member_answer ma
            LEFT OUTER JOIN question q
                ON ma.question_idx = q.question_idx
            WHERE q.inspection_idx = inspection_idx
            AND member_idx = #{memberIdx}
            GROUP BY inspection_idx) m
        ON i.inspection_idx = m.inspection_idx
        WHERE i.octagnosis_yn = 'Y'
    </select>

    <select id="getMemberProgressDetail" resultType="progress">
        SELECT
            i.inspection_idx,
            i.inspection_name,
            q.total_count,
            IF(ISNULL(m.cnt), 0, m.cnt) AS user_count,
            m.current_page
        FROM
            inspection i
        LEFT OUTER JOIN
            (SELECT
                inspection_idx,
                COUNT(*) AS total_count
            FROM
                question
            WHERE del_yn = 'N'
            GROUP BY inspection_idx) q
        ON i.inspection_idx = q.inspection_idx
        LEFT OUTER JOIN
            (SELECT
            q.inspection_idx,
            COUNT(*) AS cnt,
            MAX(q.question_page) AS current_page
            FROM
            member_answer ma
            LEFT OUTER JOIN question q
            ON ma.question_idx = q.question_idx
            WHERE q.inspection_idx = inspection_idx
            AND member_idx = #{memberIdx}
            GROUP BY inspection_idx) m
        ON i.inspection_idx = m.inspection_idx
        WHERE i.octagnosis_yn = 'Y'
        AND i.inspection_idx = #{inspectionIdx}

    </select>
</mapper>
