<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.api.inspection.question.QuestionMapper">

    <update id="insertQuestions" parameterType="list">
        <foreach collection="questions" item="question" index="index">
            INSERT INTO question(
                <if test="question.questionIdx != null and question.questionIdx > 0 "> `question_idx`, </if>
                `inspection_idx`,
                `result_idx`,
                `question_number`,
                `question_text`,
                `question_order`
            ) VALUES(
                <if test="question.questionIdx != null and question.questionIdx > 0 "> #{question.questionIdx}, </if>
                #{question.inspectionIdx},
                #{question.resultIdx},
                #{question.questionNumber},
                #{question.questionText},
                #{question.questionOrder}
            ) ON DUPLICATE KEY UPDATE
                question_number = #{question.questionNumber},
                question_text = #{question.questionText},
                question_order = #{question.questionOrder};
        </foreach>

    </update>
</mapper>
